@inject NavigationManager Navigation

 <header class=" memberHeader">
<span>پروفایل</span>
<button class="back" type="button" @onclick='() => Navigation.NavigateTo("/")'><span class="glyphicon glyphicon-arrow-left"></span></button>
</header>   